.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  max-width: 650px;

  & .title {
    line-height: 1.2;
    margin-bottom: 15px;
    border-bottom: 1px black solid;
  }

  & > p {
    margin-bottom: 10px;
    text-align: center;
  }

  & .alert {
    color: red;
    font-weight: bold;
  }
}

.check__list {
  list-style: none;
  margin-bottom: 10px;
}

.check__item {
  margin-right: 5px;
}
