.container {
  margin: 15px 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 5px;
  width: 50%;
}

.coord__text {
  width: 60%;
}

.sketch__container {
  width: 500px;
  height: 500px;
}

.sketch__section {
  position: relative;
  & > .silence__text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
  }
}

.button__section {
  margin: 10px;
}
