.container {
  margin: 15px 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 5px;
  width: 50%;
}

.coord__text {
  width: 50%;
}

.sketch__container {
  width: 500px;
  height: 500px;
}
