.container {
  margin: 20px;
}

.alert {
  color: red;
}

.visualizer__section {
  margin-top: 20px;
}

.sketch__section {
  display: flex;
}

.shapelatent__visualizer {
  margin: 20px;
}

.relation__visualizer {
  margin: 20px;
}
